@use "sass:color";

$black: #000;
$eerie-black: #18161b;
$body-color: #32374b;
$body-color-light: #666a79;
$body-color-lightest: #999ba5;
$bonkers-color: #56c55d;
$bonkers-color-dark: #4fb455;
$border-color: #d9dde1;
$border-hover: #a2a4aa;
$border-interactive: #949ab7;
$purple: #160c4c;
$purple-gradient: #321f5d;
$burple: #2e344a;
$shadow-color: #31374a;
$white: #fff;
$danger-color: #de2950;
$green-bg: #2DBD52;
$grey: #fbfbfb;
$grey-grid: #e3e6e9;
$grey-grid-circle: #43d7b6;
$orange: #f46036;
$orange-warning: #f7b500;
$ber-base: #222;
$ber-bands: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15;
/* stylelint-disable-next-line max-line-length */
$ber-colors: #999ba5, #ee4035, #f58020, #fbb613, #fbb613, #ffd006, #ffd006, #d6cd28, #d6cd28, #d6cd28, #91b73e, #91b73e, #91b73e, #059f4b, #059f4b, #059f4b;
$progress-green: #6fbf4a;
$progress-green-dark: #3dc12f;
$silver: #e9eaf2;
$fade-function: cubic-bezier(0, 0, .2, 1);
$box-shadow-color: color.adjust($shadow-color, $alpha: .25);
$box-shadow: 0 .625rem .625rem -.3125rem color.adjust($shadow-color, $alpha: .1);
$bonkers-gradient-left: #00c569;
$bonkers-gradient-right: #00b94d;
$feefo-gradient-1: #e1baa6;
$feefo-gradient-2: #fded81;
$fade-function: cubic-bezier(0, 0, .2, 1);
$pill-cta-boarder-radius: 24px;
$pill-cta-box-shadow: 0 10px 24px -10px rgb(50 55 75 / 25%);
$pill-cta-width: 1170px;
$width-desktop: 1024px;
$width-intermediate: 992px;
$width-max: 1202px;
$width-phone: 500px;
$width-tablet: 768px;
$base-padding: 8px;
$base-font-size: 15px;
$base-border-size: 1px;
$base-border-radius: 4px;
$base-darken: 10%;
$z-layer-filters: 5;
$z-layer-pop-overs: 10;
$z-layer-navigation: 15;
